{% extends 'midterm_app/base.html' %}

{% block content %}
    <h2>{{ host.name }}</h2>
    <p>Spectral Type: {{ host.spectral_type }}</p>
    <p>Effective Temperature: {{ host.effective_temperature }} K</p>
    <p>Radius: {{ host.radius }} Solar Radii</p>
    <p>Mass: {{ host.mass }} Solar Masses</p>
    <p>Metallicity: {{ host.metallicity }} [dex]</p>
    <p>Surface Gravity: {{ host.surface_gravity }} [log10(cm/s^2)]</p>
    <p>Distance: {{ host.distance }} pc</p>
    <p>V Magnitude: {{ host.v_magnitude }}</p>
    <p>K Magnitude: {{ host.k_magnitude }}</p>
    <p>Gaia Magnitude: {{ host.gaia_magnitude }}</p>

    {% if host.system %}
        <h3>Planetary System</h3>
        <p>
            System Parameter Reference:
            {% with link=host.system.parameter_reference.get_reference_link %}
                {% if link.0 %}
                    <a href="{{ link.0 }}" target="_blank">{{ link.1 }}</a>
                {% else %}
                    {{ link.1 }}
                {% endif %}
            {% endwith %}
        </p>
        <ul>
            {% for planet in host.planets.all %}
                <li><a href="{% url 'planet_detail' planet.id %}">{{ planet.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
